*{
    margin:0;
    padding:0;
}
body{
    background:url(../../Source/Images/Background_page.jpg) no-repeat center top #151515;
    height: 1944px;
    background-size:cover;
}
.container{
    max-width:1170px;
    padding:0 15px;
    margin:0 auto;
}


/*header*/
.background_header{
    background: url(../../Source/Images/background_header.png) no-repeat;
    background-size: cover;
}
.header{/*Общее расположение основных блоков*/
    display:flex;
    justify-content: space-between;
    height:65px;
}
.header nav,
.header > div{/*вертикальное расположение блоков*/
    margin:auto 0;
}
.header nav > div{/*Расположение блоков внутри nav*/
    display:flex;
    text-align:center;
}
.header > div{
    width:100px;/*Правильное расположение центрального блока*/
}
.header nav div:not(:last-child){/*Линия между блоками в центре*/
    border-right:1px dotted #55394c;
}
.header nav > div > div:not(:first-child){/*Центральные блоки кроме первого*/
    width:115px;
    height:40px;
    display:grid;
}
.header nav > div > div:first-child{/*Центральный первый блок*/
    height:40px;
    padding-right:20px;
    display:grid;
}
.header nav > div > div > div{/*Вертикальное расположение текста центарльных блоков*/
    margin:auto 0;
}
.header nav > div > div > div a:hover{
    color:#dc2e58;
    transition-duration: 400ms;
}
.header > div:last-child > div{/*Расположение "ЕЩЕ"*/
    float:right
} 
.header > div:last-child > div > div > div > div > div{/*палки гамбургера*/
    border:1px solid white;
    margin-bottom:3px;
    background-color: white;
}
.hamburger > div{/*hamburger*/
    width:25px;   
    margin:auto;
}
.hamburger > div:hover{
    cursor:pointer;
}
.hamburger{/*border hamburger*/
    border-right:1px dotted #55394c;
    border-left:1px dotted #55394c;
    width:65px;
    height:40px;
    text-align:center;
    display:grid;
}
.hamburger_active_align{/*Гамбургер справа*/
    float:right;
    width:325px;
}
.hamburger_active{
    position:absolute;
    z-index:1000;
    width:325px;
    height: 0px;
    overflow:hidden;
    background:#1a506c;
    display:grid;
}
.hamburger_active > div{
    margin:auto 0;
}
.hamburger_active > div > div{
    display:grid;
    border-collapse: collapse;
}
.hamburger_active a{
    margin:auto;
    height:45px;
    width:90%;
    display:grid;
}
.hamburger_active a > div{/*Расположение текста*/
    margin:auto 0;
}
.hamburger_active hr{/*Линия между*/
    width:95%;
    margin:0 auto;
    border:none;
    border-top:1px solid #487389;
}
.hamburger_active > div > div:hover{
    background:#154056;
    outline:1px solid #154056;
}


/*intro*/
.intro_block{
    background:url(../../Source/Images/background_intro.png) no-repeat;
    background-size: cover;
    text-align:center;
}
.intro div:first-child img{/*size icon - calendar*/
    width:18px;
}
.intro{/*Расположение основных блоков*/
    display:flex;
    justify-content: space-between;
}
.left_block_intro > div{/*Для вертикального выравнивания*/
    height:72px;
    display:grid;
}
.left_block_intro > div > div{/*Блоки Сегодня & Завтра & Календарь*/
    display:flex;
    margin:auto 0;
    gap:7px;
}
.left_block_intro a > div{/*Для вертикального расположения текста*/
    display:grid;
}
.left_block_intro a span{/*Вертикальное расположение текста*/
    margin:auto 0;
}
.left_block_intro a:not(:last-of-type) div{/*Стили для Сегодня и Завтра*/
    width:118px;
    height:40px;
    border-radius: 3px;
    background:#dc2e58;
}
.left_block_intro a:last-of-type div{/*Стиль для каледаря*/
    width:138px;
    height:40px;
    border-radius: 3px;
    background:#dc2e58;
}
.left_block_intro a div:hover{
    background:#bb173f;
    border-radius: 3px;
    cursor:pointer;
    transition: 200ms;
}
.left_block_intro a:last-of-type > div > span{/*Для выравнивания календаря*/
    display:flex;
    width:95px;
    margin:0 auto;
}
.left_block_intro a:last-of-type > div > span span{
    margin:auto;/*выравнивание календаря*/
}
.vert_align_slider{
    display:grid;
}
.slider{/*Расположение slider and arrow*/
    display:flex;
    margin:auto 0;
}
.slider > div:first-child,
.slider > div:last-child{/*Для вертикального расположения стрелок*/
    display:grid;
}
.slider > div:first-child img,
.slider > div:last-child img{/*Вертикальное расположение стрелок*/
    margin:auto 0;
    cursor:pointer;
}
.block_overflow_slider{
    overflow:hidden;
    margin:0 12px;/*отступы между стрелками и комнадами*/
    max-width:574px;
}
.move_slider{
    position:relative;
    display:flex;
    transition:500ms;
    gap:6px;/*Отступы между слайдами*/
}
.slide{
    gap:6px;
    display:flex;
}
.slide > div{/*Круг вокруг команд*/
    border:1px solid white;
    border-radius: 32px;
    width:50px;
    height:50px;
}



/*main block*/
sign{/*Знак "|" во второй строке прогнозов*/
    margin:0 11px
}
.main_block > div > div:first-child{/*Первая строка ставок*/
    height: 40px;
    display:flex;
    gap:5px;
}
.main_block > div > div:first-child a{/*Первая строка ставок*/
    margin:auto 0;
}
.main{/*Расположение прогнозов и новостной ленты*/
    display:grid;
    grid-auto-flow:column;
    grid-template-columns:2fr 1fr;
    gap:30px;
}
.rates > div{/*Общие настройки прогнозов*/
    height: 155px;
    display:grid;
    grid-auto-flow:column;
    grid-template-columns:1fr 3fr 1fr;
}
.rates > div{/*Вертикальными отступы между прогнозами*/
    margin-bottom:6px;
}
.block_img_team{/*Для вертикального расположения border-right*/
    display:grid;
}
.block_img_team div{
    border-right:1px solid #d2e5ee;
    height: 90%;
    margin: auto 0;
    display:grid;/*Для выравнивания изображения*/
}
.block_img_team img{
    margin:auto;
}
.rates > div{/*фон прогнозов*/
    background-color: white;
}
.rates > div > div:nth-child(2) p:first-of-type{/*Имена команд*/
    margin-top:25px;
    padding-left:25px;
} 
.rates > div > div:nth-child(2) p:last-of-type{/*Дата...*/
    margin:15px 0 25px 0;
    padding-left:25px;
}

.rates > div > div:nth-child(2) a{/*Коэффициент выйграша*/
    background: #134f6c;
    padding:10px 20px;
    border-radius:3px;
}
.rates > div > div:nth-child(2) a:hover{/*Коэффициент выйграша:hover*/
    background:#0c384e;
    transition: 200ms;
}
.rates > div > div:nth-child(2) div{/*На что ставка - слева*/
    width:200px;
    padding-left:25px;
    display:inline-block;
}
.rates > div > div:nth-child(3){/*Правый блок прогнозов*/
    display:grid;
    text-align:center;
}
.rates > div > div:nth-child(3) div{/*Правый блок прогнозов - для левой линии*/
    border-left:1px solid #d2e5ee;
    height: 90%;
    margin: auto 0;
}
.rates > div > div:nth-child(3) div p{
    margin:25px 0;
}
.rates > div > div:nth-child(3) div a{
    border-radius:4px;
    padding:13px 27px;
    background:#dc2e58;
}
.rates > div > div:nth-child(3) div a:hover{
    background:#bb173f;
    border-radius:3px;
    transition: 200ms;
}
.news > div:first-child{/*Блок подписки*/
    text-align:center;
    background: #134f6c;
    height:160px;
    margin-bottom:4px;
}
.news > div:first-child p:first-child{
    padding:30px 0 0 0;
}
.news > div:first-child p:nth-of-type(2){
    padding-bottom:20px;
}
.news > div:first-child input{/*input*/
    border:none;
    outline:none;
    height: 40px;
    width: 300px;
    padding:0 10px;
    border-radius: 3px;
}
.news button{/*button*/
    cursor: pointer;
    border:none;
    outline:none;   
    border-radius:0 3px 3px 0;
    bottom:40px;
    left:138px;
    position:relative;
    padding:11.7px 13px;
    background: #dc2e58;
}
.news > div:not(:first-child){/*Настройки для не первого блока*/
    cursor: pointer;
    background:white;
    display:grid;
    grid-auto-flow:column;
    grid-template-columns: 2fr 1fr;
    margin-bottom:4px;
}
.news > div:not(:first-child) img{/*img in news*/
    width:100%;
    height: 100%;
}
.news > div:not(:first-child) > div:first-child{/*Расположение текста*/
    padding:21px;
}
.news > div:not(:first-child) > div:first-child p:last-of-type{/*Дата время...*/
    margin-top:15px;
}

.additional_rates{/*"Показать еще..."*/
    background:#dc2e58;
    height: 55px;
    text-align: center;
    display:grid;
    cursor:pointer;
}
.rates{
    overflow:hidden;
    height:1288px;
}

.additional_rates:hover{
    background: #bb173f;
    transition: 300ms;
}
.additional_rates div{
    margin:auto;
}   




/*description rates*/
.description_rates{/*Расположение блока*/
    margin:45px 0 55px 0;
}
.description_rates p:nth-of-type(2){/*Вторая строка*/
    margin:30px 0;
}


/*Footer*/
.block_footer{
    width: 100%;
    background:#0c364a;
}
.footer{
    display:grid;
    grid-auto-flow:column;
    justify-content: space-between;
    height:110px;
}
.footer > div{
   align-self:center
}